.project-heading{
    text-align: center;
    padding: 4rem 0 1rem 0;
}

.project-container{
    width: 96vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 5rem;
    row-gap: 16px;
}

.project-card{
    background: #1a1919;
    padding: 10px; 
    margin: auto;
    max-width: 100%;
    border: 1px solid white;
}

.project-card img{
    width: 100%;
}

.project-title{
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.pro-details p{
    padding-bottom: 1rem;
    font-size: 16px;
    text-align: center;
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    margin: auto;
}

.pro-btns .btn{
    padding: 0.5rem 1rem;
}

.work-container {
    margin: 0 20px;
}

@media screen and (max-width : 1024px) {
    .project-container{
        max-width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
        
    }
}

@media screen and (min-width : 1024.5px) {
    .project-card{
        width: 30vw;   
    }
}